.shops-container{
    margin-top: 5px;
    background-color:darkblue;
    display: grid;
    grid-template-columns: 4fr 1fr;
   
    
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 30px;
    margin-left: 35px;
   
}

.order-container{
    background-color:aliceblue;
   margin-left: 15px;
}

@media screen and (max-width:767px) {
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
}